.quest {
    position:absolute;
    text-shadow: black 0 0 5px,black 0 0 10px,black 0 0 15px, white 0 0 2px, white 0 0 2px;
    text-shadow: 2px 2px 2px  #000, -2px -2px 2px  #000, 2px -2px 2px  #000, -2px 2px 2px  #000,4px 4px 4px  #000, -4px -4px 4px  #000, 4px -4px 4px  #000, -4px 4px 4px  #000;
    color:white;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}
.event {
    display:none;
}